//=====================================
// All the mixins here
//=====================================

// Mixin for background images
@mixin img-replace($img, $w, $h, $display: "block") {
  background-image: url("#{path--rel}/#{$img}");
  background-repeat: no-repeat;
  width: $w;
  height: $h;
  display: $display;
}

//Mixin to easily add an element
@mixin e($element) {
  &__#{$element} {
    @content;
  }
}
// Mixin to easily add a modifier
@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

// Mixin to add a breakpoint

@mixin breakpoint($device) {
  @media screen and (min-width: map-get($breakpoints, $device)) {
    @content;
  }
}
