//==================================
// Global Variables
//==================================

// Font Stacks

$font-url--google       : "https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&family=Rubik&family=Cormorant+Garamond:ital,wght@1,300&display=swap";

$font-family--primary   : "Roboto Mono", monospace, serif;
$font-family--secondary : "Rubik", Arial, Sans-serif;
$font-family--logo      : "Cormorant Garamond", cursive, serif;

// Font Weigths

$font-weight--light     : 300;
$font-weight--medium    : 400;
$font-weight--bold      : 600;

// Descriptive Base colors

$white      : #fff;
$black      : #0b0b0b;
$grey       : #797e83;

// Color palette modifiers

$palettes: (
    white: (
        base        : $white,
        dark        : darken($white, 15%),
        x-dark      : darken($white, 30%)
    ),

    black: (
        light       : lighten($black, 10%),
        base        : $black,
        dark        : darken($black, 10%)

    ),

    grey: (
        xx-light    : lighten($grey, 40%),
        x-light     : lighten($grey, 30%),
        light       : lighten($grey, 10%),
        base        : $grey,
        dark        : darken($grey, 10%),
        x-dark      : darken($grey, 20%)
    )
);
// Color Usage

$color-primary      : $white;
$color-secondary    : $black;
$color-accent       : $grey;
$color-shadow       : rgba($black, .3);

// Text

$base__font-size    : 16px;
$base__line         : 24px;

// Path to assets/images

$path--rel       : "../images";

// Margins

$margin-bottom-page  : 50px;

// Breakpoints for responsive design

$breakpoints: (
    mobile: 576px,
    tablet: 768px,
    laptop: 992px,
    desktop: 1200px
);

// Borders 

$container-border   : 3px solid $black;
$container-border-radius    : 14px;

// Animations
@keyframes fade-in {
    0% { opacity: 0; }
    100% { transform: scale(1); opacity: 1} 
 }
@keyframes pulse-button {
    0% { box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);}
    100% { box-shadow: 0 0 0 10px rgba(0, 0, 0, 0)};
    
}
 @keyframes appear-left {
    0%   {transform: translate(-999px, 0);}
    100% {transform: translate(0, 0);}
  }

@keyframes appear-right {
    0%   {transform: translate(999px, 0);}
    100% {transform: translate(0, 0);}
}
@keyframes appear-bottom {
    0% {transform: translate(0px, 300px);opacity: 0}
    100% {transform: translate(0, 0);opacity: 1}
}
$anim-duration: 4s;