/*===============================
 Container Rules
  =============================== */

.p {
  @include e(container) {
    min-height: 300px;
    background-color: rgba($grey, 0.3);
    // z-index: 300;
    @include m(sub) {
      top: 30%;
      width: 100%;
      height: 100%;
      background-color: rgba($grey, 0.8);
      opacity: 0;
      transition: opacity 0.5s;

      & > * {
        position: relative;
        top: 20%;
        transform: translateY(30px);
        transition: transform 0.5s;
      }
    }
  }
}
.p__container--sub:hover {
  opacity: 1;
  color: $white;
  & > * {
    transform: translateY(0);
  }
}
