/*===================================
 Footer rules
  =================================== */

.footer {
    position: relative;
    display: flex;
    height: em(70px);
    background: $grey;
    color: $white;
    font-size: em(12px);
    justify-content: space-between;
    align-items: center;
    @include breakpoint(tablet) {
        font-size: 125%;
    }
    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: em(120px);
    }
    @include e(lin) {
        
        img {
            width: em(40px);
            height: em(40px);
        }
        @include breakpoint(laptop) {
            transition: .75s;
            &:hover {
                transform: rotateY(360deg);
                filter: invert(29%) sepia(94%) saturate(1348%) hue-rotate(176deg) brightness(93%) contrast(101%);
            }
        }
    }
    @include e(git) {
        img {
            width: em(50px);
            height: em(50px);
        }
        @include breakpoint(laptop) {
            transition: .75s;
            &:hover {
                transform: rotateY(360deg);
                filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(30deg) brightness(102%) contrast(104%);
            }
        }
    }
}


