/* ==========================
    Form rules
   ==========================*/

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  max-width: 70%;
  border: em(3px) solid $black;
  border-radius: em(14px);
  background: $white;
  justify-content: space-around;

  @include e(label) {
    align-self: flex-start;
    display: block;
    position: relative;
    margin-left: em(20px);
    
  }
  textarea {
    padding-left: em(10px);
    &:focus {
      outline: 3px solid $grey;
      border: em(1px) solid $black;
    }
    @include breakpoint(laptop) {
      height: 25%;
    }
  }

  @include e(input) {
    width: 90%;
    font-size: em(18px);
    padding-left: em(10px);
    border-radius: em(14px);
    background: palette(grey, xx-light);
    color: palette(black, dark);
    font-weight: $font-weight--light;
    border: em(2px) solid $black;
    @include breakpoint(laptop) {
      height: 10%;
    }

    &:focus {
      outline: 3px solid $grey;
      border: em(1px) solid $black;
    }
  }
  @include e(btn) {
    width: 90%;
    margin: em(12px) 0;
  }
  .opt-choose {
    text-align: center;
  }
}
