/*========================================
 Header rules
 ========================================= */

.header {
    height: 100vh;
    @include e(nav) {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background: $grey; 
        align-items: center;
        height: 10%;
        z-index: 999;
    }
}